<h1>Listing categories</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category| %>
      <tr>
        <td width="35%"><%= category.title %></td>
        <td width="45%"><%= category.description %></td>
        <td width="20%">
          <%= link_to 'Show', category_path(category), :class=>"button tiny" %>
          <%= link_to 'Edit', edit_category_path(category), :class=>"button tiny" %>
          <%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button tiny alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorie', new_category_path, :class=>"button radius" %>
