<h1>Listing Password Category</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @password_category.each do |password_category| %>
      <tr>
        <td width="20%"><%= password_category.titulo %></td>
        <td width="60%"><%= password_category.descricao %></td>
        <td width="20%" align="center">
          <%= link_to 'Show', password_category, :class=>"button tiny" %>
          <%= link_to 'Edit', edit_password_category_path(password_category), :class=>"button tiny" %>
          <%= link_to 'Destroy', password_category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button tiny alert"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password category', new_password_category_path, :class => "button radius" %>
