<h1>Listing password_category</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @password_category.each do |password_category| %>
      <tr>
        <td><%= password_category.titulo %></td>
        <td><%= password_category.descricao %></td>
        <td><%= link_to 'Show', password_category %></td>
        <td><%= link_to 'Edit', edit_password_category_path(password_category) %></td>
        <td><%= link_to 'Destroy', password_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password category', new_password_category_path %>
