<h1>Listing passwords</h1>

<div width="100%" align='right'>
  <%= link_to 'Password Category', password_category_index_path, :class=>"button radius" %>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Login</th>
      <th>Pass</th>
      <th>Url</th>
      <th>Obs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @passwords.each do |password| %>
      <tr>
        <td width="20%"><%= password.login %></td>
        <td width="15%"><%= password.pass %></td>
        <td width="20%"><%= password.url %></td>
        <td width="20%"><%= password.obs %></td>
        <td width="20" align="center">
          <%= link_to 'Show', password, :class=>"button tiny" %>
          <%= link_to 'Edit', edit_password_path(password), :class=>"button tiny" %>
          <%= link_to 'Destroy', password, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button tiny alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password', new_password_path, :class=>"button radius" %>
