<h1>Listing Expense Category</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_category.each do |expense_category| %>
      <tr>
        <td width="20%"><%= expense_category.title %></td>
        <td width="60%"><%= expense_category.description %></td>
        <td width="20%" align="center">
          <%= link_to 'Show', expense_category, :class=>"button tiny"%>
          <%= link_to 'Edit', edit_expense_category_path(expense_category), :class=>"button tiny" %>
          <%= link_to 'Destroy', expense_category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button tiny alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense category', new_expense_category_path, :class => "button radius" %>
