<h1>Listing Expenses</h1>
<div width="100%" align='right'>
  <table >
    <tr>
      <td align='right'>
        <%= link_to 'Expenses Categories', expense_category_index_path %>
      </td>
    </tr>
  </table>
</div>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.description %></td>
        <td><%= expense.cost %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
